
.customer__title{
    font-size: 36px;
    padding: 10px;
}

.customer__list{
    padding: 5%;  
}

.customer__list .btn-add{
    margin-bottom: 20px
}

.customer__form{        
    .customer__form--info{
        width: 70px;        
        display: inline-block        
    }

        
    .customer__form--error{       
        color: red     
    }  
}


