
.customer__title{
    font-size: 36px;
}

.customer__list{
 
    
}

.customer__list--detail{
    flex: 1;
    text-align: center;
    display: none;
}

.customer__detail--info{
    text-align: start;
    padding: 10%; 
}

.customer__form{        
    .customer__form--info{
        width: 70px;        
        display: inline-block        
    }

        
    .customer__form--error{       
        color: red     
    }  
}


